.menu_panel, .game_panel{
    width: 100%;
    height: 100%;
    background-color: rgb(50, 209, 230);
    text-align: center;
    display: flex;
    align-items: center;
    margin-bottom: auto;
    
    justify-content: center;
}

.menu_panel{
    flex-direction: column;
}

.game_panel{
    flex-direction: row;
}
label{
    font-size: 22px;
    font-family:'Courier New', Courier, monospace;
}

body, html{
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
}
.btn{
    background-color: rgb(236, 42, 42);
    border: 1px solid #ddd;
    padding: 10px 30px;
    border-radius: 3px;
    font-size: 15px;
    margin: 5px;
    cursor: pointer;

}

.btn:hover{
    background-color: #efefef99;
}
   
    .welcomeDiv {
        text-align: center;
        background: rgb(50, 209, 230);
        position:absolute;
        width: 100%;
        height: 100%;
       
        
    }

    #st{
        display: block;
      margin-left: auto;
      margin-right: auto;
      width: 40%;
     
    }
    
    .welcomeDiv p{
        font-size: 15px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }



input[type=number] {
    width: 10%;
    padding: 15px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    text-align: center;
    font-size: 22px;;
  }



.description p{
    color: white;
    font-size: small;
}



.game_main{
    height: 99%;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    margin-right: 100px;
}

.cell{
    height: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-collapse: collapse;
}

.row{
    padding: 0;
    height: 11%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow{
    background-image: url('images/arrow1.png');
    background-size: cover;
    transition-duration: 1s;
    
}

.move{
    transition: ease-in-out 1s;
}



.straight{
    background-image: url('images/straight.png');
    background-size: cover;
}

.tpiece{
    background-image: url('images/tpiece.png');
    background-size: cover;
}
.bend{
    background-image: url('images/bend.png');
    background-size: cover;
}

.overboard_bottom{
    height: 30%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content:flex-start;
    flex-direction: column;
    margin-top: 1em;
}


.overboard_Top{
    height: 70%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}

.treasure_text{
    color: rgb(156, 156, 156);
    font-family: 'PT Sans', sans-serif;
    font-size: 150%;
}

.show_overboard_box{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
}

.overboard_cell {
    height: 100%;
    width: 100%;
    display: flex;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.Side_panel{
    height: 90%;
    width: 10%;
    max-width: 10%;
    display: flex;
    flex-direction: column;
    margin: 1em;
    border: 2px solid black;
}

.player{
    height: 25%;
    width: 25%;
    
    
    border-radius: 10%;
    border: 2px solid black;
}

.show_player{
    aspect-ratio: 1/1;
    width: 50%;
    border-radius: 10%;
   
    border: 2px solid black;
    text-align: center;
}

.treasure{

    width: 40%;
    height: 40%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.rotate_90{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotate_180{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rotate_270{
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

